.DashboardSidebar {
  padding: 12px;
  border-right: 1px solid var(--dashboardSidebar--border-color);
  background-color: var(--dashboardSidebar--background-color);

  .AppSkeleton {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
  }
}
