.DashboardLayout {
  display: grid;
  height: 100%;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 75px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";

  .DashboardHeader {
    grid-area: header;
  }

  .DashboardSidebar {
    grid-area: sidebar;
  }
}

.DashboardLayout__main {
  grid-area: main;
}
