.DashboardUserSidebar {
  display: grid;
  padding: 20px;
}

.DashboardUserSidebar__user {
  place-self: end start;
}

.DashboardUserSidebar__user__picture {
  vertical-align: middle;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.DashboardUserSidebar__user__username {
  color: white;
  font-weight: bold;
  margin-left: 20px;
}
