:root {
  --app--background-color: #141a1f;
  --app--color: #f4f7f5;

  // AppSkeleton
  --appSkeleton--gradient--from--color: #141a1f;
  --appSkeleton--gradient--to--color: #0b1014;

  // AppTextInput
  --appTextInput--color: #9ba3af;
  --appTextInput--active--background-color: #191d20;
  --appTextInput--active--color: #f4f7f5;

  /* Dashboard */
  // DashboardSidebar
  --dashboardSidebar--border-color: rgba(255, 255, 255, 0.05);
  --dashboardSidebar--background-color: #0b1014;
  --dashboardSidebar--header--server--online--color: #6b7480;

  // DashboardHeader
  --dashboardHeader--background-color: #0b1014;
  --dashboardHeader--border-color: #191d20;
  --dashboardHeader--search--color: #9ba3af;
  --dashboardHeader--search--backdrop--color: #191d20;

  // DashboardHeaderActionBar
  --dashboardHeaderActionBar--settings--color: #9ba3af;
  --dashboardHeaderActionBar--separator--background-color: #141a1f;

  /* ServerChannelList */
  --serverChannelList--channelList--header--color: #9ba3af;
}
