:root {
  --app--background-color: #15191c;
  --app--color: #e8eaed;

  // AppSkeleton
  --appSkeleton--gradient--from--color: #15191c;
  --appSkeleton--gradient--to--color: #0d1114;

  // AppTextInput
  --appTextInput--color: #9ba3af;
  --appTextInput--active--background-color: #1a1f24;
  --appTextInput--active--color: #e8eaed;

  /* Dashboard */
  // DashboardSidebar
  --dashboardSidebar--border-color: rgba(255, 255, 255, 0.05);
  --dashboardSidebar--background-color: #0d1114;
  --dashboardSidebar--header--server--online--color: #6b7480;

  // DashboardHeader
  --dashboardHeader--background-color: #0d1114;
  --dashboardHeader--border-color: #191d20;
  --dashboardHeader--search--color: #9ba3af;
  --dashboardHeader--search--backdrop--color: #191d20;

  // DashboardHeaderActionBar
  --dashboardHeaderActionBar--settings--color: #9ba3af;
  --dashboardHeaderActionBar--separator--background-color: #15191c;

  /* ServerChannelList */
  --serverChannelList--channelList--header--color: #9ba3af;
}
