
# App
APP_ACCESS_KEY=
ENVIRONMENT=local
APP_API_URL=
APP_WEBAPP_URL=

# App Database Config
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_ENDPOINT=

# Session
SESSION_SECRET=